@import "skin";
@import "variables";
@import "mixins-media";

@import "commons";
@import "slides";
@import "controls";
@import "indicators";

/*
essential styles:
these make the slideshow work
*/

.slides {
    //контейнер
    position: relative;
    height: 150px;

    //temp
    margin-bottom: 20px;
}

.slide {
    //вписали слайды в контейнер
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s; /* анимация */
}

.active {
    opacity: 1; /* становится 1 */
    z-index: 1; /* выдвигаем */
}

/*
  non-essential styles:
  just for appearance; change whatever you want
  */

.slide {
    font-size: 40px;
    padding: 40px;
    box-sizing: border-box;
    background: #333;
    color: #fff;
}

.slide:nth-of-type(1) {
    background: red;
}

.slide:nth-of-type(2) {
    background: orange;
}

.slide:nth-of-type(3) {
    background: green;
}

.slide:nth-of-type(4) {
    background: blue;
}

.slide:nth-of-type(5) {
    background: purple;
}
.controls {
    display: flex;
    justify-content: center;

}
.indicators {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0 0 15px 0;
    > li {
        margin-right: 5px;
    }
    .active {
        background-color: tomato;
    }
}
.indicator,
.control {
    height: 40px;
    min-width: 40px;
    display: inline-block;
    padding: 10px 20px;
    margin-right: 15px;
    background-color: #cccccc;
    cursor: pointer;
    user-select: none;
}
